<!--component html goes here -->
<div>

  <div class="card my-dashboard">
    <div class="card-header">
      Pridanie novej položky
    </div>
    <div class="card-body">
      <form class="form-group">
        <button
          type="button"
          class="btn btn-primary btn-success pull-right"
          (click)="goToCreate()"
        >Pridať položku</button>
      </form>
    </div>
  </div>

  <div class="card my-dashboard">
    <div class="card-header">
      Zobrazenie detailu položky
    </div>
    <div class="card-body">
      <form class="form-inline my-dashboard-form">
        <input
          id="id|Value"
          class="form-control mr-xl-2"
          [formControl]="id"
          type="text"
          placeholder="Work item id"
          aria-label="Search"
        >
        <button
          type="button"
          class="btn btn-primary btn-success pull-right"
          (click)="goToDetail()"
        >Zobraziť položku</button>
      </form>
    </div>
  </div>
</div>

<div class="welcome">
  <h2>Vitajte v Kros platforme</h2>
</div>
