// component css goes here
.inline {
    display: inline;
    border: none;
}

.list-group-item {
    border: 0;
}

.my-group-item {
    padding-bottom: 2px;
}

.my-badge {
    position: absolute;
    right: 0;
    width: 70px;
    margin-right: 10px;
}
