<sidebar
    #mySidebar
    [filteredItems]="filteredItems"
    [summaryItems]="summaryItems"
    (filterItems)="onFilterItems($event)"
></sidebar>
<div class="main-content">
    <form
        class="needs-validation form-group"
        [formGroup]="homeForm"
        (ngSubmit)="insertWorkItem()"
    >
        <div>
            <div>
                <input
                    id="inputInvoice"
                    formControlName="inputInvoice"
                    [(ngModel)]="inputInvoiceValue"
                    type="text"
                    class="form-control my-input-60"
                    placeholder="Zadajte číslo faktúry"
                    maxlength="20"
                    required
                >

                <input
                    id="inputDate"
                    formControlName="inputDate"
                    [(ngModel)]="inputDateValue"
                    min="2018-01-01"
                    max="2099-12-31"
                    type="date"
                    class="form-control my-input-40"
                    required
                >
            </div>

            <div
                *ngIf="inputInvoice.errors?.required"
                class="invalid-feedback"
            >
                Prosím zadajte validné číslo faktúry.
            </div>
        </div>

        <div class="my-button">
            <button
                type="button"
                class="btn btn-primary btn-submit"
                (click)="insertWorkItem()"
            >Zapíš novú položku</button>
        </div>

    </form>

    <div class="my-centered-content">
        <h2>Vitajte v Kros platforme</h2>
    </div>

</div>