<div class="my-sidebar">
    <sidebar
        #mySidebar
        [filteredItems]="filteredItems"
        [summaryItems]="summaryItems"
        (filterItems)="onFilterItems($event)"
    ></sidebar>
</div>
<div class="main-content">
    <div class="main-content-div">
        <form
            class="needs-validation form-group"
            [formGroup]="homeForm"
            (ngSubmit)="insertWorkItem()"
        >
            <div>
                <div class="my-input-100">
                    <input
                        id="inputInvoice"
                        formControlName="inputInvoice"
                        type="text"
                        class="form-control"
                        placeholder="Zadajte číslo faktúry"
                        maxlength="20"
                        required
                    >
                </div>
                <div class="my-input-40">
                    <input
                        id="inputDate"
                        formControlName="inputDate"
                        min="2018-01-01"
                        max="2099-12-31"
                        type="date"
                        class="form-control"
                        required
                    >
                </div>

                <div
                    *ngIf="inputInvoice.errors?.required"
                    class="invalid-feedback"
                >
                    Prosím zadajte validné číslo faktúry.
                </div>
            </div>

            <div class="my-button">
                <button
                    type="button"
                    class="btn btn-primary btn-submit"
                    (click)="insertWorkItem()"
                >Zapíš novú položku</button>
            </div>

        </form>

        <div class="my-centered-content">
            <h2>Vitajte v Kros platforme</h2>
        </div>
    </div>
</div>