// component css goes here
.inline {
    border: none;
    display: inline;
    padding-inline-start: 0;
}

.my-badge {
    position: absolute;
    right: 0;
    width: 70px;
    margin-right: 10px;
}

.list-group-item-action :hover {
    opacity: 0.8;
}
