<html>

<head>
  <title>Testovacia platforma</title>
</head>

<body>
  <header>
    <h6>
      H E A D E R L I N E
    </h6>
  </header>

  <nav class="topnav">
    <div>
      <a href="">Home</a>
      <a href="">Wiki</a>
      <a href="">About</a>
    </div>
    <div class="search-bar">
      <form>
        <input type="search">
        <input
          type="submit"
          value="Hľadať"
        >
      </form>
    </div>
  </nav>

  <main class="main-content">
    <div class="side-bar">
      <a href="#">Domov</a>
      <a href="#">Projekty</a>
      <a href="#">Nastavenia</a>
      <a href="#">Wiki</a>
      <a href="#">Kontakty</a>
      <a href="#">Odkazy</a>
    </div>
    <div class="article">
      <h4>Vitajte v Kros platforme</h4>

      <div class="flex-box">
        <div class="box">
          <p>1</p>
        </div>
        <div class="box">
          <p>2</p>
        </div>
        <div class="box">
          <p>3</p>
        </div>
        <div class="box">
          <p>4</p>
        </div>
        <div class="box">
          <p>5</p>
        </div>
        <div class="box">
          <p>6</p>
        </div>
        <div class="box">
          <p>7</p>
        </div>
        <div class="box">
          <p>8</p>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>This is footer</p>
  </footer>

</body>

</html>

<router-outlet></router-outlet>