<!doctype html>
<html
  lang="en"
  class="notranslate"
  translate="no"
>

<head>
  <meta charset="utf-8">
  <title>BIM platforma</title>
  <base href="/">

  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Ubuntu:300,400,500,600,700&amp;display=swap"
    rel="stylesheet"
  >

  <meta
    name="theme-color"
    content="#1976d2"
  >
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a
      class="navbar-brand"
      routerLink="/home-component"
      routerLinkActive="active"
    >Kros Test</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home-component"
            routerLinkActive="active"
          >Domov <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about-component"
            routerLinkActive="active"
          >About</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/example-component"
            routerLinkActive="active"
          >Example</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Hľadať"
          aria-label="Search"
        >
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
        >Hľadať</button>
      </form>
    </div>
  </nav>

  <div class="my-layout">
    <router-outlet></router-outlet>
  </div>
</body>

</html>