<main class="main-content">
    <div class="side-bar">
        <a href="#">Domov</a>
        <a href="#">Projekty</a>
        <a href="#">Nastavenia</a>
        <a href="#">Wiki</a>
        <a href="#">Kontakty</a>
        <a href="#">Odkazy</a>
        <a href="#">Galéria</a>
        <a href="#">E-shop</a>
        <a href="#">About</a>
        <a href="#">Links</a>
    </div>
    <div class="article">
        <h4>Vitajte v Kros platforme</h4>

        <div class="flex-box">
            <div class="box">
                <p>1</p>
            </div>
            <div class="box">
                <p>2</p>
            </div>
            <div class="box">
                <p>3</p>
            </div>
            <div class="box">
                <p>4</p>
            </div>
            <div class="box">
                <p>5</p>
            </div>
            <div class="box">
                <p>6</p>
            </div>
            <div class="box">
                <p>7</p>
            </div>
            <div class="box">
                <p>8</p>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <p>This is footer</p>
</footer>