@import 'styles/bootstrap';

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
}

.my-navbar {
  padding-top: 5px;
}

.my-layout {
  position: absolute;
  top: 59px;
  bottom: 0;
  right: 0;
  left: 0;
}

.my-content {
  height: 100%;
  overflow: auto;
}

.my-sidebar {
  float: left;
  width: 270px;
  height: 100%;
  overflow-y: auto;
}

.sidebar-search {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
  padding-bottom: 0;
  background-color: white;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 1rem;
}

.sidebar-menu {
  height: 100%;
  z-index: -1;
}

.sidebar-footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  z-index: 1;
  background-color: white;
  margin-top: 1rem;
  border-top: 1px solid #d9d9d9;
}

.zero-inline-padding {
  padding-inline-start: 0;
}

.list-group-item {
  padding-left: 1rem;
}

.navbar-brand {
  width: 15rem;
  font-weight: bold;
  padding-left: 0;
}

.centered {
  text-align: center;
}
.middle {
  align-items: center;
  height: 100%;
}

.my-input {
  width: 100%;
  padding: 2rem;
  padding-top: 0;
}

.my-detail {
  width: 400px;
  padding: 5rem;
}
