@import 'styles/bootstrap';

html {
  font-size: 62.5%;
}

.my-centered-content {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.my-layout {
  float: left;
  position: absolute;
  opacity: 0.7;
  top: 59px;
  bottom: 0;
  right: 0;
  left: 0;
}

.main-content {
  float: left;
  width: 80%;
  height: 100%;
  opacity: 0.7;
}

.navbar-brand {
  width: 15rem;
  padding-left: 1.5rem;
  font-weight: bold;
}
