@import 'styles/bootstrap';

html,
body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.my-centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-layout {
  position: absolute;
  top: 57px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
}

.navbar-brand {
  width: 15rem;
  padding-left: 1.5rem;
  font-weight: bold;
}
